:root {
  --theme-dark: #282c34;
  --theme-dark-shade-1: #2c313a;

  --theme-light: #fafafa;
  --theme-light-shade-1: #bfbfbf;
  --theme-light-shade-2: #e0e0e0;
  --theme-light-shade-3: #c9c9c9;
  --theme-light-shade-3: #b5b5b5;

  --theme-accent: #61dafb;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--theme-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-dark);
}

#root {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
